<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>User : Add</title>
	<link rel="stylesheet" href="" th:href="@{/css/Add_User.css}" />
</head>

<body>
	<a href="/admin/services">Back to Services</a>
	<div class="addUser">
		<h3 style="color: red;">ADD NEW USER/CUSTOMER</h3>
		<form action="" th:action="@{/addingUser}" th:object="${user}" method="post">
			<label>User_Name :</label>
			<input type="text" th:field="*{uname}" required minlength="2" maxlength="50"
				placeholder="Enter name..." />
			<div th:if="${#fields.hasErrors('uname')}" th:errors="*{uname}" style="color:red;font-size:12px;"></div>

			<label>User_Email :</label>
			<input type="email" th:field="*{uemail}" required placeholder="Enter email..." />
			<div th:if="${#fields.hasErrors('uemail')}" th:errors="*{uemail}" style="color:red;font-size:12px;"></div>

			<label>User_Password :</label>
			<input type="password" th:field="*{upassword}" required minlength="8"
				pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,}$"
				title="Min. 8 Zeichen: Gross, Klein, Zahl, Sonderzeichen"
				placeholder="Enter password..." />
			<div th:if="${#fields.hasErrors('upassword')}" th:errors="*{upassword}" style="color:red;font-size:12px;"></div>

			<label>User_Number :</label>
			<input type="tel" th:field="*{unumber}" required pattern="\d{10,15}"
				title="10-15 Ziffern"
				placeholder="Enter phone number..." />
			<div th:if="${#fields.hasErrors('unumber')}" th:errors="*{unumber}" style="color:red;font-size:12px;"></div>

			<button type="submit">Add_User</button>
		</form>
	</div>
</body>

</html>
