<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>User : Update</title>
	<link rel="stylesheet" href="" th:href="@{/css/Update_User.css}" />
</head>
<body>
	<a href="/admin/services"> Back to Services</a>
	<div class="updateUser">
		<h3 style="color: red;"> UPDATE EXISTING USER/CUSTOMER </h3>
		<form action="" th:action="@{'/updatingUser/'+${user.id}}" th:object="${user}" method="post">
			User_Name :
			<input type="text" th:field="*{uname}" required minlength="2" maxlength="50" />
			<span th:if="${#fields.hasErrors('uname')}" th:errors="*{uname}" style="color:red;"></span>
			User_Email :
			<input type="email" th:field="*{uemail}" required />
			<span th:if="${#fields.hasErrors('uemail')}" th:errors="*{uemail}" style="color:red;"></span>
			User_Number :
			<input type="tel" th:field="*{unumber}" pattern="\d{10,15}" required />
			<span th:if="${#fields.hasErrors('unumber')}" th:errors="*{unumber}" style="color:red;"></span>

			<button type="submit">Update_User</button>
		</form>
	</div>
</body>
</html>
