<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Admin : Update</title>
	<link rel="stylesheet" href="" th:href="@{/css/Update_Admin.css}" />
</head>
<body>
	<a href="/admin/services">Back to Services</a>
	<div class="updateAdmin">
		<h3 style="color: red;">UPDATE EXISTING ADMIN / PARTNER DETAILS</h3>
		<form action="" th:action="@{'/updatingAdmin/'+${admin.id}}" th:object="${admin}" method="post">
			Admin_Name :
			<input type="text" th:field="*{adminName}" required minlength="2" maxlength="50" /><br />
			<span th:if="${#fields.hasErrors('adminName')}" th:errors="*{adminName}" style="color:red;"></span>
			Admin_Number :
			<input type="tel" th:field="*{adminNumber}" pattern="\d{10,15}" required /> <br />
			<span th:if="${#fields.hasErrors('adminNumber')}" th:errors="*{adminNumber}" style="color:red;"></span>
			Admin_Email :
			<input type="email" th:field="*{adminEmail}" required /> <br />
			<span th:if="${#fields.hasErrors('adminEmail')}" th:errors="*{adminEmail}" style="color:red;"></span>

			<button type="submit">Update_Admin</button>
		</form>
	</div>
</body>
</html>
