<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Product : Update</title>
	<link rel="stylesheet" href="" th:href="@{/css/Update_Product.css}" />
</head>

<body>
	<a href="/admin/services">Back_To_Services</a>
	<div class="updateProduct">
		<h3 style="font-weight: bolder;color: seagreen;">UPDATE EXISTING PRODUCT :</h3>
		<form action="" th:action="@{'/updatingProduct/'+${product.id}}" th:object="${product}" method="post">
			Product_Name :
			<input type="text" th:field="*{pname}" required minlength="2" maxlength="100" /> <br />
			<span th:if="${#fields.hasErrors('pname')}" th:errors="*{pname}" style="color:red;"></span>
			Product_Price :
			<input type="number" th:field="*{pprice}" required min="0.01" step="0.01" /><br />
			<span th:if="${#fields.hasErrors('pprice')}" th:errors="*{pprice}" style="color:red;"></span>
			Product_Desc : <br />
			<textarea th:field="*{pdescription}" cols="10" rows="1"
				required maxlength="500"></textarea><br />
			<span th:if="${#fields.hasErrors('pdescription')}" th:errors="*{pdescription}" style="color:red;"></span>
			<button type="submit">Update_Product</button>
		</form>
	</div>
</body>

</html>
